
<body class="bg-grey" gtools_scp_screen_capture_injected="true">
    <% include navbar.html %>
        <div class="main-content archive-page clearfix">
            <div class="categorys-item">
                <% for(let i in list){ %>
                    <div class="categorys-title">
                        <%= i %>
                    </div>
                    <div class="post-lists">
                        <div class="post-lists-body">
                            <% list[i].forEach(function(content){ %>
                                <div class="post-list-item">
                                    <div class="post-list-item-container">
                                        <div class="item-label">
                                            <div class="item-title">
                                                <a href="<%=site.url %>/<%= content.category.slug %>/<%= content.slug %>.html">
                                                    <%= content.title %>
                                                </a>
                                            </div>
                                            <div class="item-meta clearfix">
                                                <div class="item-meta-date">
                                                    <%= think.datetime(content.create_time, 'MM DD, YYYY')%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <% include footer.html %>
</body>
<% include bottom.html %>