<div id="respond-post-<%= content.id %>" class="comment-container">
    <div id="comments" class="clearfix"><span class="response">Responses<%if(replyTo){%><a id="cancel-comment-reply-link" href="<%=site.url %>/<%= content.category.slug %>/<%= content.slug %>.html#respond-post-<%= content.id %>" rel="nofollow">/Cancel Reply</a><%}%></span>
        <form method="post" action="<%=site.url%>/<%=content.category.slug%>/<%=content.slug%>/comment" id="comment-form" class="comment-form" role="form" onsubmit="return validate_form(this)">
            <input type="text" name="author" maxlength="12" id="author" class="form-control input-control clearfix" placeholder="Name (*)" value="" required>
            <input type="email" name="email" id="email" class="form-control input-control clearfix" placeholder="Email (*)" value="" required>
            <input type="url" name="url" id="url" class="form-control input-control clearfix" placeholder="Site (http://)" value="">
            <textarea name="text" id="textarea" class="form-control" placeholder="Your comment here. Be cool. " required></textarea>
            <button type="submit" class="submit" id="misubmit">SUBMIT</button>
            <input type="hidden" name="parent_id" value="<%=replyTo%>">
            <input type="hidden" name="_t" id="_t" value="">
        </form>
        <ol class="comment-list">
            <%if(content.comment){%>
                <%content.comment.forEach(function(comment){%>
                    <li id="li-comment-<%= comment.id %>" class="comment-body comment-parent comment-odd">
                        <div id="comment-<%= comment.id %>">
                            <div class="comment-view" onclick="">
                                <div class="comment-header"><img class="avatar" src="https://secure.gravatar.com/avatar/<%= think.md5(comment.email) %>?s=80&r=G&d=" width="80" height="80" />
                                    <%if(comment.url){%><span class="comment-author"><a target="_blank" href="<%= comment.url %>"><%=comment.author%></a></span>
                                        <%}else{%><span class="comment-author"><%=comment.author%></span>
                                            <%}%>
                                </div>
                                <div class="comment-content">
                                    <%if(comment.parent){%>
                                    <span class="comment-author-at">
                                        <a href="#commen-<%= comment.parent.id %>">@<%=comment.parent.author%></a>
                                    </span>
                                        <%}%>
                                        <p>
                                            <%=comment.text%>
                                        </p>
                                </div>
                                <div class="comment-meta">
                                    <time class="comment-time"><%= think.datetime(comment.create_time*1000, 'MM DD, YYYY')%></time><span class="comment-reply"><a href="<%=site.url %>/<%= content.category.slug %>/<%= content.slug %>.html?replyTo=<%= comment.id %>#respond-post-<%= content.id %>" rel="nofollow">Reply</a></span></div>
                            </div>
                        </div>
                    </li>
                <%});%>
            <%}%>
        </ol>
    </div>
</div>
<script>
document.getElementById('_t').value = Date.now();
</script>