<footer class="footer ">
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <a href="<%=site.url %>/" class="info-logo">
                        <%=site.title%>
                    </a>
                    <div class="info-text">
                        <p>Theme is <a href="https://github.com/chakhsu/pinghsu" target="_blank">Pinghsu</a> by <a href="https://www.linpx.com/" target="_blank">Chakhsu</a></p>
                        <p> Project created by <a href="https://thinkjs.org/" target="_blank">ThinkJS</a></p>
                        <p> Powered by <a href="https://github.com/lscho/ThinkJS-Vue.js-blog" target="_blank">lscho</a></p>
                        <%-site.footer %>
                    </div>
                </div>
            </div>
            <div class="meta-item meta-posts">
                <h3 class="meta-title">RECENT POSTS</h3>
                <%if(recent.content.length>0){%>
                    <%recent.content.forEach(function(content){%>
                        <li>
                            <a href="<%=site.url %>/<%= content.category.slug %>/<%= content.slug %>.html">
                                <%=content.title%>
                            </a>
                        </li>
                        <%});%>
                            <%}%>
            </div>
            <div class="meta-item meta-comments">
                <h3 class="meta-title">RECENT COMMENTS</h3>
                <%if(recent.comment.length>0){%>
                    <%recent.comment.forEach(function(comment){%>
                        <li>
                            <a href="<%=site.url %>/<%= comment.category %>/<%= comment.slug %>.html#comment-<%= comment.id %>">
                                <%=comment.author%>:
                                    <%=comment.text%>
                            </a>
                        </li>
                        <%});%>
                            <%}%>
            </div>
        </div>
    </div>
</footer>