<!DOCTYPE html>
<html>
<%include header.html%>

    <body class="bg-grey" gtools_scp_screen_capture_injected="true">
        <%include navbar.html%>
            <div class="main-content common-page clearfix">
                <div class="common-item">
                    <%if(meta){%>
                        <div class="common-title">
                            <%=meta.key%>:
                                <%=meta.value%>
                        </div>
                        <%}%>
                            <div class="post-lists">
                                <div class="post-lists-body">
                                    <%if(contents.data.length>0){%>
                                        <%contents.data.forEach(function(content){%>
                                            <div class="post-list-item">
                                                <div class="post-list-item-container ">
                                                    <div class="item-label ">
                                                        <div class="item-title">
                                                            <a href="<%=site.url %>/<%= content.category.slug %>/<%= content.slug %>.html">
                                                                <%=content.title%>
                                                            </a>
                                                        </div>
                                                        <div class="item-meta clearfix">
                                                            <div class="item-meta-date">
                                                                <%=think.datetime(content.create_time*1000,'MM DD, YYYY')%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%});%>
                                                <%}else{%>
                                                    <div class="post-list-item">没有任何数据</div>
                                                    <%}%>
                                </div>
                            </div>
                </div>
                <div class="lists-navigator clearfix">
                    <ol class="page-navigator">
                        <%if(contents.currentPage>1){%>
                            <li class="prev"><a href="<%=site.url %>/<%=meta.key%>/<%=meta.value%>/<%= contents.currentPage-1 %>/">←</a></li>
                            <%}%>
                                <li class="current">
                                    <a href="javascript:">
                                        <%=contents.currentPage%>/
                                            <%=contents.totalPages%>
                                    </a>
                                </li>
                                <%if(contents.currentPage<contents.totalPages){%>
                                    <li class="next"><a href="<%=site.url %>/<%=meta.key%>/<%=meta.value%>/<%= contents.currentPage+1 %>/">→</a></li>
                                    <%}%>
                    </ol>
                </div>
            </div>
            <%include footer.html%>
    </body>

</html>